/* 575 boilerplate style.css */

.attributes {
    font-size: 0.8em;
}

.dimension{
    fill: #555;
}

.selectAxis{
  stroke-width: 5px;
  background-color: #555;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.pcpBackground path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.pcpForeground path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: blue;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
  font-family: trebuchet ms;
}
