/* 575 boilerplate style.css */

.map {
	float: right;
	border: 2px solid black;
	margin: 5px;
}

#attContainer {
    height: 500px;
    width: 400px;
    border:2px solid #000;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
}

.attSvg {
		background: #ccc;
}

.variableRect {
		stroke: #aaa;
		fill: none;
}

#searchDiv {
		padding-left: 5px;
}
.cityContainer {
    height: 350px;
    width: 300px;
    border: 1px solid #ccc;
    overflow-y: scroll;
		position: absolute;
		right: 0;
		bottom: 0;
    margin-right: 5px;
		cursor: move;
}

.checkbox {
		cursor: pointer;
}

#cityTitleRect {
    width: 100%;
    fill: #eee;
    color: red;

}

.attRect1,
.attRect2,
.attRect3 {
	cursor: pointer;
	stroke: black;
	fill:#eee
}


.us_states {
	fill: #fff;
	stroke: #000;
	stroke-width: 0.5px;
}
